{erl_opts, [debug_info]}.
{deps, [
  {cassandra_thrift, "19.30.0",
    {git, "https://github.com/lpgauth/cassandra-thrift-erlang.git", {tag, "19.30.0"}}},
  {dispcount, "0.1.0",
    {git, "https://github.com/ferd/dispcount.git", "r14"}},
  {thrift, "0.8.0",
    {git, "https://github.com/lpgauth/thrift-erlang.git", {tag, "0.8.0"}}}
]}.
